@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ffffff;
  --color-primary: #22c55e; /* green-500 */
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
}